body
{
  padding-top: 50px;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2FAQxqTkk.jpg&f=1&nofb=1);
}
.starter-template
{
  padding: 0px 15px;
  text-align: center;
  color: #FFFFFF;
}
h1
{
	margin: 0px;     
	color: #FFFFFF;
	padding: 0px;
	font-size: 36px;
	font-family: "trebuchet ms", sans-serif;    
}
label
{
	font-size: 18px;
}
a
{
	color: #FFFF00;
}
.button
{
	color: #0066CC
}
tr
{
	color: #000000
}
th
{
	background-color: #576159
}
